MONGODB_CONNECTION_STRING=mongodb://module10cosmosdb:xiBiAN9oYUtKhNtgFwmS1muAkUgprOubEjAyKefeAlSyp0yaRf25yRGCPsZlWxnuHbI7Bucept4mACDbyyHXTQ==@module10cosmosdb.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@module10cosmosdb@
DATABASE_NAME=mod10projectcosmosdb