apiVersion: v1
kind: Secret
metadata:
  name: mod-14-secrets
type: Opaque
data:
  API_KEY: 
  API_TOKEN: 
  database_password: 
  mongodb_connectionstring: 
  MONGODB_CONNECTION_STRING:
  SECRET_KEY: 
  LOGGLY_TOKEN: 
  ARM_SUBSCRIPTION_ID: 
  ARM_TENANT_ID: 
  ARM_CLIENT_ID: 
  ARM_CLIENT_SECRET: 