{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li class="list-group-item">{{ item.title }}</li>
        {% endfor %}
      </ul>
    </div>

    <form action="/add" method="post">
      <label for="item_name"> <h3> Add items here</h3></label><br>
      <input type="text" id="item_name" name="item">
      <button type="submit">Add</button>
    </form>

  </div>



{% endblock %}